#counterResult {
  background-color: green;
  color: white;
}

#pingResult {
  background-color: blue;
  color: white;
}

#pongResult {
  background-color: red;
  color: white;
}

#pingPongResult {
  background-color: purple;
  color: white;
}
